.ipynb_checkpoints
/venv/
.idea
/data/train_target.csv
/data/train.csv
/data/test_target.csv
/data/test.csv
/data/predict_target.csv
/logs/file_handler.log
/model/model.pickle
/__pycache__/
/src/__pycache__/
/notebooks/tmp/file_handler.log
/notebooks/tmp/model.pickle
/notebooks/tmp/predict_target.csv
/notebooks/tmp/test.csv
/notebooks/tmp/test_target.csv
/notebooks/tmp/train.csv
/notebooks/tmp/train_target.csv
.pytest_cache
file_handler.log
predict_target.csv

